body {
    background-color: lightgray;
}

.team-heading {
    background-color: lightgrey;
    box-shadow: 10px 10px 30px grey;
}

.team-area {
    flex-wrap: wrap;
}

.employee-card {
    margin: 20px;
    min-width: 300px;
    box-shadow: 10px 10px 30px grey;
    border: none;
}

/* Colour-coded cards for employee types */ 
.manager {
    background-color: lightsalmon;
}

.engineer {
    background-color: lightskyblue;
}

.intern {
    background-color: lightgreen;
}